body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/background.jpg) center center no-repeat fixed;
  background-size: cover;
}

form {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.switchLabel {
  font-size: 16px;
}

.card {
  border-radius: 7px;
}

.costNumber {
  font-size: 30px;
}

.delete {
  position: absolute;
  right: 28px;
  display: none;
}

.project-summary:hover .delete {
  display: inline-block;
}

.delete:hover {
  color: #ec407a;
}